@import 'theme-colors.scss';
@import 'mixins.scss';

@font-face {
	font-family:'arboria-bold';
	src: url("sitefont/arboria-bold.ttf") format("truetype");
}
@font-face {
	font-family:'avenir-next';
	src: url("sitefont/avenir-next.ttc") format("truetype");
}
@font-face {
	font-family:'avenir-medium';
	src: url("sitefont/avenir-medium.ttf") format("truetype");
}

*,
*:before,
*:after{
	margin:0;
	padding:0;
	outline:0;
	border:0;
}

body,html{
	height:100%;
}

body{
	background:$theme-ffffff;
	//color:$theme-393939;
	font-size: 14px;
	font-family:'avenir-medium';
	font-weight: 400;

	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

ul{
	list-style: none;
	li{
		a{
			text-decoration: none;
		}
		a:hover{
			text-decoration: none;
		}
	}
}

ul.floated-list{
	margin-bottom:0;
	li{
		float: left;
		display:block;
		a{
			display:block;
		}
		ul{
			margin-bottom: 0;
			li{
				float: none;
			}
		}
	}
}

a{
	color:inherit;
	@include transition(all, 0.35s, ease-out);
	&:hover{
		opacity: 0.7;
	}
}
button[type="submit"],
input[type="submit"]{
	@include transition(all, 0.35s, ease-out);
	&:hover{
		opacity: 0.7;
	}
}
img{
	border:0;
}

h1,h2,h3,h4,h5,h6{
	//color: $theme-393939;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
h1{
	font-size: 26px;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 22px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 16px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a{
	color: inherit;
}
label{
	font-weight: normal;
}
.font8px{
	font-size: 8px;
}
.font9px{
	font-size: 9px;
}
.font10px{
	font-size: 10px;
}
.font11px{
	font-size: 11px;
}
.font12px{
	font-size: 12px;
}
.font13px{
	font-size: 13px;
}
.font14px{
	font-size: 14px;
}
.font15px{
	font-size: 15px;
}
.font16px{
	font-size: 16px;
}
.bdrs0{
	border-radius: 0;
}
.bdrs5px{
	border-radius: 5px;
}
.bdrs8px{
	border-radius: 8px;
}
.bdrs10px{
	border-radius: 10px;
}
.icon-text{
	margin-right: 8px;
	&.sm{
		margin-right: 4px;
	}
}
.weight-200{
	font-weight: 200;
}
.weight-300{
	font-weight: 300;
}
.weight-400{
	font-weight: 400;
}
.weight-600{
	font-weight: 600;
}
.weight-700{
	font-weight: 700;
}
.weight-900{
	font-weight: 900;
}
.font-style-italic{
	font-style: italic;
}
.font-style-normal{
	font-style: normal;
}
.clear{
	clear:both;
}
.inline{
	display: inline;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.lowercase{
	text-transform: lowercase;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.div-center{
	display:table;
	margin:0 auto;
}
.fullHeight{
	height:100%;
}
.mytable{
	display: table;
	width: 100%;
	height: 100%;
}
.fixed-table-layout{
	table-layout: fixed;
}
.table-cell{
	display:table-cell;
}
.va-middle{
	vertical-align: middle;
}
.va-top{
	vertical-align: top;
}
.va-bottom{
	vertical-align: bottom;
}
.static{
	position: static;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.fixed{
	position: fixed;
}
.cover{
	@include coordinates(0,0,0,0);
}
.arboria-bold{
	font-family:'arboria-bold';
}
.circle{
	border-radius: 50%;
}
.m0{
	margin:0 !important;
}
.mb-0{
	margin-bottom: 0 !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-40{
	margin-bottom: 40px !important;
}
.mb-50{
	margin-bottom: 50px !important;
}
.mt-0{
	margin-top: 0 !important;
}
.mt-10{
	margin-top: 10px !important;
}
.mt-20{
	margin-top: 20px !important;
}
.mt-30{
	margin-top: 30px !important;
}
.mt-40{
	margin-top: 40px !important;
}
.mt-50{
	margin-top: 50px !important;
}
.my-0{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.my-10{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.my-20{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.my-30{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}
.my-40{
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}
.my-50{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pb-10{
	padding-bottom: 10px !important;
}
.pb-20{
	padding-bottom: 20px !important;
}
.pb-30{
	padding-bottom: 30px !important;
}
.pb-40{
	padding-bottom: 40px !important;
}
.pb-50{
	padding-bottom: 50px !important;
}
.pt-0{
	padding-top: 0 !important;
}
.pt-10{
	padding-top: 10px !important;
}
.pt-20{
	padding-top: 20px !important;
}
.pt-30{
	padding-top: 30px !important;
}
.pt-40{
	padding-top: 40px !important;
}
.pt-50{
	padding-top: 50px !important;
}
.py-0{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.py-10{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.py-20{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.py-30{
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
.py-40{
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}
.py-50{
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
.fill{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-20 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-20 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-20 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-20 {
		width: 20%;
		float: left;
	}
}

.fitVid{
	position: relative;
	padding-bottom: 56%;
	height: 0;
	iframe{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
}

// Bootstrap Gutter Changes
.row45{
	margin-left: -45px;
	margin-right: -45px;
	.column{
		padding-left: 45px;
		padding-right: 45px;
	}
}
.row25{
	margin-left: -25px;
	margin-right: -25px;
	.column{
		padding-left: 25px;
		padding-right: 25px;
	}
}
.row20{
	margin-left: -20px;
	margin-right: -20px;
	.column{
		padding-left: 20px;
		padding-right: 20px;
	}
}
.row10{
	margin-left: -10px;
	margin-right: -10px;
	.column{
		padding-left: 10px;
		padding-right: 10px;
	}
}
.row7{
	margin-left: -7px;
	margin-right: -7px;
	.column{
		padding-left: 7px;
		padding-right: 7px;
		margin-bottom: 14px;
	}
}
.row5{
	margin-left: -5px;
	margin-right: -5px;
	.column{
		padding-left: 5px;
		padding-right: 5px;
	}
}

.form-control{
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055);
}
.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"]{
	-webkit-appearance:none;
	cursor:pointer;
}
.form-control::-moz-placeholder {
	color: #838383;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #838383;
}
.form-control::-webkit-input-placeholder {
	color: #838383;
}
.form-control:focus{
	box-shadow: none;
	//border: 1px solid $theme-007a92 !important;
}
.header{
	.top-section{
		padding: 0 0 0 30px;
		@media  (max-width:767px){
			padding: 15px;
		}
		.logo{
			padding: 15px 0;
			@media  (max-width:992px){
				padding:0;
				img{
					max-width: 200px;
				}
			}
		}
		.contact{
			ul{
				background-color: $theme-3573ab;
				clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0 100%);
				-webkit-clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0 100%);
				li{
					font-size:25px ;
					color:$theme-ffffff;
					padding: 22px 30px 22px 50px;
					font-family:'arboria-bold';
					span{
						padding-left: 0px;
					}
					&:last-child{
						clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
						-webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
					}
				}
				@media (max-width: 1023px){
					clip-path: none;
					li{
						clip-path: none !important;
						padding: 15px;
						font-size: 18px;
					}
				}
			}
			@media  (max-width:767px){
				display: none;
			}
		}
		.toggle{
			display: none;
			@media  (max-width:767px){
				display: block;
			}
		}
	}
	.mynav{
		background-color: #ededed;
		@media  (max-width:767px){
			text-align: center;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			width: 250px;
			background-color:$theme-3573ab;
			z-index: 9;
			@include transition(all,0.5s,ease-out);
			@include translate(100%, 0);
			&.show-menu{
				@include translate(0,0,);
			}
			.container{
				padding:0;
			}
			.top-info-xs{
				margin-top: 20px !important;
				border-top: 1px solid #6298b1;
				padding-top: 15px;
				li{
					border-radius: 4px;
					margin: 10px 10px 0;
					color: #fff;
					font-size: 16px;
					a{
						padding: 15px;
						display: block;
					}
				}
			}
		}

		ul{
			display: table;
			margin: 0 auto;
			@media  (max-width:767px){
				display: block;
				margin-top: 60px;
			}
			li{
				padding: 0 15px;
				@media  (max-width:992px){
					padding: 0;
				}
				@media  (max-width:767px){
					float: none;
				}
				a{
					padding:10px 15px ;
					font-family:'avenir-medium';
					font-size: 15px;
					color: $theme-3573ab;
					@include transition(all, 0.75s, ease-out);
					@media  (max-width:992px){
						padding:10px 10px ;
					}
					@media (max-width: 767px){
						color: $theme-ffffff;
					}
				}
				&:hover,
				&.active{
					a{
						color: $theme-ffffff;
						background-color: $theme-1998d3;
					}
				}
			}
		}
		.close-menu{
			display: none;
			padding: 10px;
			background-color: rgba(0,0,0,0.32);
			@media  (max-width:767px){
				display: block;
				margin-bottom: 20px;
				z-index: 2;
				position: absolute;
				left:0;
				top:0;
			}
		}
	}
}
@media (min-width: 768px){
	.body-inactive{
		display: none !important;
	}
}
.body-inactive{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color:rgba(0,0,0, 0.5);
	display: none;
	z-index: 8;
}
.baner{
	height: 600px;
	position:relative;
	@media  (max-width:992px){
		max-height: 450px;
	}
	@media  (max-width:767){
		max-height: 250px;
	}
	.baner-contain{
		position:absolute;
		@include translateY(-50%);
		top: 50%;
		.bc-logo{
			margin-bottom: 20px;
		}
		.bc-text{
			h2{
				color: $theme-ffffff;
				font-size: 50px;
				margin: 0;
				@media  (max-width:992px){
					font-size: 30px;
				}
			}
		}
	}
	.baner-note{
		position:absolute;
		@include translateY(50%);
		bottom: 0;
		left: 0;
		right:0;
		text-align: center;
		.banner-note-content{
			padding:17px 40px;
			display: table;
			margin: 0 auto;
			@media  (max-width:767px){
				padding: 15px;
			}
		}
		.prop{
			padding-right: 30px;
			@media  (max-width:767px){
				display: none;
			}
		}
		.val{
			p{
				margin: 0;
				color: $theme-ffffff;
				font-size: 25px;
				@media  (max-width:992px){
					font-size: 20px;
				}
				@media  (max-width:767px){
					font-size: 17px;
				}
			}
		}
	}
}
.sec-title{
	h2{
		font-family:'arboria-bold';
		font-size: 35px;
		color: $theme-1998d3;
		margin: 0;
		border-left:1px solid #0b509f;
		padding: 30px;
		display: inline-block;
		@media  (max-width:992px){
			font-size: 30px;
		}
	}
}
.sec-para{
	p{
		font-family:'avenir-medium';
		margin-top: 30px;
		@media  (max-width:992px){
			margin-top: 20px;
		}

	}
}
.site-btn{
	background-color:$theme-1998d3;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 25px;
	display: inline-block;
}
.hoofdkantoor-brabant{
	padding: 70px 0;
	background: transparent url('../images/hoofdkantoor-brabant--bg.png') no-repeat;
	background-size: 57% 100%;
	@media (max-width: 1199px){
		background: none;
	}
	@media  (max-width:992px){
		padding: 50px 0;
	}
	.hb-right{
		@media  (max-width:992px){
			padding:10px 0;
			text-align: center;
			img{
				max-width: 200px;
			}
		}
	}
	.hb-left{
		.hb-tittle{
		}
	}
	.hb-text{
		margin-top: 60px;
	}
}
.brabant-commercieel{
	margin-bottom: 60px;
	@media  (max-width:992px){
		margin-bottom: 35px;
	}
	.bc-left{
		position: relative;
		&:after{
			background: #009fe3;
			position: absolute;
			clip-path: polygon(0 0, 100% 0%, -15% 129%, 0% 100%);
			-webkit-clip-path: polygon(0 0, 100% 0%, -15% 129%, 0% 100%);
			content: "";
			top: 0;
			left: 0;
			z-index: 2;
			width: 44%;
			bottom: 0;
			@media (max-width: 1199px){
				display: none;
			}
		}
	}
	.bc-right{
		width: 50%;
		padding: 40px 0 45px 40px;
		background-color: $theme-ededed;
		.bc-title{
		}
		.sec-para{
			max-width: 75%;
			@media  (max-width:992px){
				max-width: 100%;
			}
		}
	}
	@media (max-width: 767px){
		.mytable,
		.table-cell{
			display: block;
			width: 100%;
		}
		.bc-left{
			height: 250px;
		}
	}
}
.brabant-arbeidsmarkt{
	margin-bottom: 60px;
	@media  (max-width:992px){
		margin-bottom: 35px;
	}
}
.brabant-slider{
	margin-bottom: 60px;
	@media  (max-width:992px){
		margin-bottom: 35px;
	}
	#carousel-example-generic{
		padding-top: 90px;
		padding-bottom: 90px;
		ol{
			margin-bottom: 0;
			li{

			}
		}
		.carousel-inner{
			.item{
				.item-text{
					width: 750px;
					display: table;
					margin: 0 auto;
					text-align: center;
					@media  (max-width:992px){
						width: 100%;
					}
					h3{
						color: $theme-ffffff;
						font-size: 22px;
						margin: 0;
						@media  (max-width:992px){
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
.laatste-nieuws{
	margin-bottom: 60px;
	@media  (max-width:992px){
		margin-bottom: 35px;
	}
	.sec-title{
		span{
			font-size: 15px;
			text-align: right;
			color: $theme-1998d3;
			padding-top: 50px;
			@media  (max-width:992px){
				padding-top:10px;
			}
		}
	}
	.lnc-listing{
		margin-top: 50px;
		.ln-column{
			border:1px solid $theme-1998d3;
			padding: 10px;
			@media  (max-width:992px){
				margin-bottom: 20px;
			}
			.lnc-img{
				margin-bottom: 25px;
			}
			.lnc-title{
				margin-bottom: 25px;
				h3{
					font-size: 20px;
					margin: 0;
					color: $theme-1998d3;
				}
			}
			.lnc-date{
				margin-bottom: 25px;
				span{
					font-size: 15px;
					color:$theme-1998d3;
				}
			}
			.lnc-para{
				margin-bottom: 25px;
				p{
					margin: 0;
				}
			}
			.lnc-btn{
				margin-bottom: 5px;

			}
		}
	}
}
.footer-combine{
	position: relative;
	&:after{
		background: rgba(255,255,255,0.08);
		position: absolute;
		clip-path: polygon(0 0, 100% 0%, -29% 129%, 0% 100%);
		-webkit-clip-path: polygon(0 0, 100% 0%, -29% 129%, 0% 100%);
		content:"";
		top:0;
		left:0;
		z-index: 2;
		width: 10%;
		height: 50%;
		@media (max-width: 1199px){
			display: none;
		}
	}
}
.footer-baner{
	padding: 40px 0;
	.fb-contain{
		@media  (max-width:992px){
			margin-bottom: 30px;
		}
		.fbc-title{
			margin-bottom: 22px;
			h3{
				margin: 0;
				font-size: 25px;
				color:$theme-ffffff;
			}
		}
		.fbc-para{;
			@media  (max-width:992px){
				width: 100%;
			}
			p{
				margin: 0;
				color:$theme-ffffff;
				font-size: 12px;
			}
		}
	}
	.form{
		margin-top: 20px;
		.form-inline{
			.form-control{
				box-shadow:none;
				height: 42px;
				padding: 6px 12px;
				font-size: 13px;
				line-height: 1.42857143;
				color: #555;
				background-color: #fff;
				background-image: none;
				border: none;
				border-radius: 0;
				margin-right: 10px;
				width: 100%;
			}
			button{
				width: 100%;
			}
			@media (max-width:767px){
				button{
					margin-top: 10px;
				}
			}
		}
	}
}
.footer{
	.top-footer{
		padding-top: 50px;
		padding-bottom: 100px;
		@media (max-width:992px){
			padding: 35px 0 15px;
		}
		.col-md-9{
			.col-md-4{
				padding-left:60px;
				@media (max-width: 1199px){
					padding-left: 45px;
				}
				@media (max-width: 992px){
					padding-left: 0;
				}
			}
		}
		.footer-logo{
			.fl-logo{
				margin-bottom: 50px;
			}
			.fl-text{
				p{

				}
			}
		}
		.main-link{
			.ml-title{
				margin-bottom: 10px;
				h3{
					margin:0;
				}
			}
			ul{
				li{
					margin: 5px 0;
					a{
						padding: 10px 0;
					}
				}
			}
			address{
				span{
					font-size: 12px;
				}
			}
			.worden-para{
				p{
					margin: 0;
					font-size: 12px;
				}
			}
		}
		@media (max-width: 992px){
			text-align: center;
			.bb-logo{
				float: none !important;
			}
			.footer-logo{
				.fl-logo{
					margin-bottom: 30px;
					img{
						max-width: 250px;
					}
				}
				.fl-text{
					margin-bottom: 30px;
				}
			}
			.main-link{
				margin-bottom: 20px;
				.ml-title{
					margin-bottom: 15px;
					h3{
						margin:0;
					}
				}
				ul{
					li{
						margin: 10px 0;
						a{
							padding: 10px 0;
						}
					}
				}
			}
		}
	}
}
.copyright{
	line-height:1;
	padding: 12px 0;
	color: $theme-145c9d;
	font-size: 12px;
	span,
	ul{
		display: inline-block;
		vertical-align: middle;
	}
	span{
		margin-right: 5px;
	}
	ul{
		li{
			padding:0 7px;
			border-left:1px solid $theme-145c9d;
			a{
				position: relative;
			}
			&:last-child{
				a{
					border-right:none;
				}
			}
		}
	}
	@media (max-width: 992px){
		text-align: center;
	}
	@media (max-width:767px){
		span{
			display: block;
			margin-right:0;
		}
		ul{
			li{
				display: inline;
				float: none;
				border-left:0;
				margin-top:7px;
				a{
					display: inline-block;
					margin-top:7px;
				}
			}
		}
	}
}
// Colors - Theme Declaration

.theme-ffffff{
	color: $theme-ffffff !important;
}
.theme-ffffff-bg{
	background-color: $theme-ffffff !important;
}
.theme-145c9d{
	color: $theme-145c9d !important;
}
.theme-145c9d-bg{
	background-color: $theme-145c9d !important;
}
.theme-ff9900{
	color: $theme-ff9900 !important;
}
.theme-ff9900-bg{
	background-color: $theme-ff9900 !important;
}
.theme-ededed{
	color: $theme-ededed !important;
}
.theme-ededed-bg{
	background-color: $theme-ededed !important;
}
.theme-1998d3{
	color: $theme-1998d3 !important;
}
.theme-1998d3-bg{
	background-color: $theme-1998d3 !important;
}
.theme-3573ab{
	color: $theme-3573ab !important;
}
.theme-3573ab-bg{
	background-color: $theme-3573ab !important;
}
.theme-e29418{
	color: $theme-e29418 !important;
}
.theme-e29418-bg{
	background-color: $theme-e29418 !important;
}

