
// Color Schemas

$theme-ffffff:      #ffffff;
$theme-145c9d:      #145c9d;
$theme-ff9900:      #ff9900;
$theme-ededed:      #ededed;
$theme-1998d3:      #1998d3;
$theme-3573ab:      #3573ab;
$theme-e29418:      #e29418;
